<!--
Generated template for the SchedulepagePage page.
See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/offline-exporting.js"></script>


  <ion-navbar>
    <ion-title>Activity</ion-title>
  </ion-navbar>
</ion-header>





	<ion-content padding [class.newBG]="state">
			<div id="container"></div>
  <button ion-button (click)="screenShot()">Share</button>
	<div id="pie_container"></div>
  <button ion-button (click)="screenShot()">Share</button>

  <img src="{{ screen }}" *ngIf="state">

<ion-content padding>
  <ion-grid>
    <ion-card>
      <div id="container"></div>
    </ion-card>
    <ion-card>
      <div id="pie_container"></div>
    </ion-card>
    <ion-card>
      <!-- <ion-card-header>
Profile
</ion-card-header> -->
      <ion-list>
        <button ion-item>
          <ion-icon name="time" item-start></ion-icon>
          Past workouts
        </button>
      </ion-list>
      <ion-grid>
        <ion-row *ngFor="let video of hack(display_data)">
          <ion-col col-5>
              <iframe width="100%" height="120" [src]="trusturl(video.video_url)" frameborder="0" allowfullscreen></iframe>
            </ion-col>
         
            <ion-col col-7>
               <h3>{{video.video_title}}</h3>
               <h4>{{video.video_desc}}</h4>
              </ion-col>
           
            </ion-row>
          
          </ion-grid>


    </ion-card>
  </ion-grid>

</ion-content>
		


